@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>App Web en proceso por  <a href="https://github.com/iamDavidSosa">ADSOSA</a>.</p>
</div>
